<div class="top">
  <div class="top_header wrapper">
    <%= link_to root_path do %>
      <%= image_tag 'logo.png', class: "logo" %>
    <% end %>
    <div class="hamburger" id="open_nav">
      <%= image_tag 'hamburger.png', class: "hamburder_icon" %>
    </div>
  </div>
  <div class="top_heading">
    <h2>
      偉人達が歩いた道を</br>
      私達も歩いてみよう
    </h2>
  </div>
</div>