<div class="top">
  <div class="top_header wrapper">
    <%= link_to root_path do %>
      <h1 class="top_header_logo">SAMURAIDOU</h1>
    <% end %>
    <nav class="top_header_nav">
      <ul class="top_header_nav_ul">
        <li class="top_header_nav_li">
          <%= link_to "新規登録", new_user_registration_path, class:"link" %>
        </li>
        <li class="top_header_nav_li">
          <%= link_to "ログイン", new_user_session_path, class:"link" %>
        </li>
        <li class="top_header_nav_li">
          <%= link_to "お問い合わせ", new_inquiry_path, class:"link" %>
        </li>
      </ul>
    </nav>
  </div>
  <div class="top_heading">
    <h1 class="top_heading_title">偉人達が歩いた道を私達も歩いてみよう</h1>
  </div>
</div>