<h1>投稿一覧</h1>
<% @posts.each do |post| %>
  <h4>タイトル</h4>
  <%= post.title %>
  <h4>場所</h4>
  <%= post.place %>
  <h4>感想</h4>
  <%= post.text %>

  <%= link_to post_path(post.id) do %>
  詳細へ
  <% end %>

<% end %>