@import 'variable';

.top {
  background-image: image-url("main_castle.jpeg");
  min-height: 100vh;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;

  &_header {
    display: flex;
    justify-content: space-between;
    height: 100px;

    .logo {
      height: 100%;
    }

    &_nav {
      ul {
        display: flex;
        padding-top: 40px;
        list-style: none;
      }

      li {
        margin-left: 36px;
      }
    }
  }

  &_heading {
    h2 {
      font-size: 48px;
      color: white;
      position: absolute;
      top: 40%;
      left: 10%;
    }
  }
}