@import 'variable';

.top {
  background-image: image-url("main_castle.jpeg");
  min-height: 100vh;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;

  &_header {
    display: flex;
    justify-content: space-between;
    padding: 10px;

    .logo {
      height: 10vh;
    }
  }

  &_heading {
    h2 {
      width: 80%;
      font-size: 48px;
      color: white;
      position: absolute;
      top: 40%;
      left: 10%;
    }
  }
}

// モバイル版
@media (max-width: 600px) {
  .top {
    background-position: right 35% bottom 45%;

    &_header {
      padding: 10px;
    }

    &_heading {
      h2 {
        font-size: 32px;
        position: relative;
        top: 250px;
        left: 10px;
      }
    }
  }
}