@import 'variable';

.newPost {
  &_main {
    background-image: image-url("newPost.jpg");
    min-height: 80vh;
    background-size: cover;
    background-position: center top 20%;
    background-repeat: no-repeat;
  }

  &_form {
    width: 30vw;
    height: 70vh;
    margin-left: 15%;
    padding-top: 5%;
    float: left;

    h1 {
      font-family: $titleColor;
      border-bottom: 1px solid $Black;
    }

    .field {
      margin-top: 5px;
      font-family: $titleColor;
      font-weight: bold;
    }
  }

  &_index {
    .keyword_form {
      margin: 10px;
      text-align: right;
    }

    &_box {
      margin-bottom: 30px;
      text-align: center;
      display: grid;
      gap: 13px;
      grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));

      &_item {
        padding-top: 30px;
        &:hover {
          border: 1px solid #dee2e6;
          background-color: $White;
          opacity: 0.6;
        }
      }
    }
  }
}

.postShow {
  height: 80vh;
  display: flex;
  justify-content: space-around;

  &_summary {
    width: 58%;
    position: relative;

    &_show {
      width: 80%;
      margin: 0 auto;
      text-align: center;
    }

    li:first-child {
      background-color: rgba(192, 192, 192, 0.5);
    }
  }

  .edit_link {
    position: absolute;
    top: 30px;
    right: 0;
    cursor: pointer ;
  }

  &_side {
    width: 38%;

    &_comment {
      height: 5%;
      position: relative;

      .commentArea {
        height: 30px;
        width: 75%;
        border: 1px solid #dee2e6;
        resize: none;
      }

      .commentButton {
        height: 30px;
        width: 20%;
        color: $White;
        background-color: $red;
        border: none;
        border-radius: 5px;
        font-weight: bold;
        position: absolute;
        top: 0;
        right: 0;
        cursor: pointer;

        &:hover {
          opacity: 0.8;
        }
      }
    }

    &_indexComment {
      margin-top: 1%;
      border: 1px solid #dee2e6;
      height: 30vh;
      overflow-y: scroll;

      .userComment {
        border-bottom: 1px solid #333;
      }
    }
  }
}

#map {
  margin-top: 1%;
  height: 170px;
  width: 100%;
}