@import 'variable';

.userShow {
  height: 80vh;
  display: flex;
  justify-content: space-around;

  &_myPage {
    width: 28%;
    position: relative;

    &_show {
      text-align: center;

      ul {
        margin-bottom: 10px;
      }

      .link {
        position: absolute;
        top: 30px;
        right: 0;
      }
    }
  }

  &_myPost {
    width: 68%;
    position: relative;

    &_show {
      display: grid;
      gap: 16px;
      grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
      text-align: center;

      &_box {

        p {
          color: #333;
        }

        &:hover {
          border: 1px solid #dee2e6;
          background-color: white;
          opacity: 0.6;
        }
      }
    }
  }

  .pagination {
    position: absolute;
    top: 30px;
    right: 0;
  }
}