<div class="newInquiry_comple wrapper">
  <h1 class="newInquiry_comple_title">お問い合わせ完了</h1>
  <h3 class="newInquiry_comple_thackYou">お問い合わせありがとうございました</h3>
  <p class="newInquiry_comple_check">
    確認メールを送信させて頂きましたので、<br>
    ご確認ください。
  </p>
  <div>
    <%= link_to 'Topへ戻る', new_post_path%>
  </div>
</div>