
<h2>お問い合わせ完了</h2>
<div>
<h3 class="mb-5">お問い合わせありがとうございました</h3>
<p>
  確認メールを送信させて頂きましたので、<br>
  ご確認ください。
</p>
<div class="d-flex justify-content-center mb-5">
  <%= link_to 'Topへ戻る', root_path%>
</div>